<a href="https://colab.research.google.com/github/FabricioMResende/producao_hospitalar_no_brasil/blob/main/Notebooks/projeto1_producao_hospitalar_no__brasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Bootcamp_Alura/projeto1/caso.csv', encoding='ISO-8859-1')

In [7]:
df.head()

         date state  ... confirmed_per_100k_inhabitants death_rate
0  2021-06-19    AP  ...                    13404.45802     0.0155
1  2021-06-18    AP  ...                    13385.42748     0.0155
2  2021-06-17    AP  ...                    13370.69043     0.0155
3  2021-06-16    AP  ...                    13354.90901     0.0155
4  2021-06-15    AP  ...                    13333.55768     0.0155

[5 rows x 13 columns]