<a href="https://colab.research.google.com/github/FabricioMResende/producao_hospitalar_no_brasil/blob/main/Notebooks/projeto1_producao_hospitalar_no__brasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
URL = 'https://raw.githubusercontent.com/FabricioMResende/producao_hospitalar_no_brasil/main/Dados/covid19_marilia_sp.csv'

In [5]:
df = pd.read_csv(URL)

In [6]:
df.head()

   epidemiological_week        date  ...  is_last is_repeated
0                202124  2021-06-19  ...    False        True
1                202124  2021-06-18  ...     True       False
2                202124  2021-06-17  ...    False        True
3                202124  2021-06-16  ...    False       False
4                202124  2021-06-15  ...    False       False

[5 rows x 16 columns]