<a href="https://colab.research.google.com/github/FabricioMResende/producao_hospitalar_no_brasil/blob/main/Notebooks/projeto1_producao_hospitalar_no__brasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Analise do dataframe extraído do Brasil.io 
esta base contem os dados registrados na cidade de Marília-SP quanto a epidemia COVID-19

##persistindo a conexão com o dataframe através do github

In [2]:
URL = 'https://raw.githubusercontent.com/FabricioMResende/producao_hospitalar_no_brasil/main/Dados/covid19_marilia_sp.csv'

In [3]:
df = pd.read_csv(URL)

In [4]:
df.head()

   epidemiological_week        date  ...  is_last is_repeated
0                202124  2021-06-19  ...    False        True
1                202124  2021-06-18  ...     True       False
2                202124  2021-06-17  ...    False        True
3                202124  2021-06-16  ...    False       False
4                202124  2021-06-15  ...    False       False

[5 rows x 16 columns]

##identificando campos nulos no dataframe

In [5]:
df.isnull()

     epidemiological_week   date  ...  is_last  is_repeated
0                   False  False  ...    False        False
1                   False  False  ...    False        False
2                   False  False  ...    False        False
3                   False  False  ...    False        False
4                   False  False  ...    False        False
..                    ...    ...  ...      ...          ...
438                 False  False  ...    False        False
439                 False  False  ...    False        False
440                 False  False  ...    False        False
441                 False  False  ...    False        False
442                 False  False  ...    False        False

[443 rows x 16 columns]

In [9]:
df.isnull().sum()

epidemiological_week                             0
date                                             0
order_for_place                                  0
state                                            0
city                                             0
city_ibge_code                                   0
place_type                                       0
last_available_confirmed                         0
last_available_confirmed_per_100k_inhabitants    0
new_confirmed                                    0
last_available_deaths                            0
new_deaths                                       0
last_available_death_rate                        0
estimated_population                             0
is_last                                          0
is_repeated                                      0
dtype: int64

In [10]:
df.isnull().sum().sum()

0

portanto não temos dados nulos no dataframe